.page {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  background-image: var(--primary-bg-color);
}
.overlayPage {
  background: var(--secoondary-bg-color) no-repeat center/100% 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 24px;
  width: 80%;
  height: 80%;
  max-height: 90%;
  border-radius: 150px;
}
.groupContainer {
  display: flex;
  justify-content: space-between;
}

.buttonGrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.buttonGrp > button {
  padding: 24px 35px;
  max-width: 200px;
  height: 30px;
  font-size: 14px;
  border: none;
  background-color: var(--primary-btn-color);
  border-radius: 24px;
  line-height: 0;
  font-weight: 900;
  cursor: pointer;
}
.imgContainer {
  width: 100%;
  padding: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.sideIcon {
  width: 100%;
  max-width: 80%;
  height: 500px;
  background: var(--side-icon) center/100% 100%;
}
.studyText {
  font-size: var(--xlarge-size);
  color: var(--color-text);
  line-height: 50px;
}
.stressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}
.stressText {
  font-size: 70px;
  color: var(--color-text);
}
.studyTimer {
  width: 80px;
  height: 30px;
}
.countDownTimer {
  font-size: 50px;
}
.lottieBox {
  width: 250px;
}
.quoteBox {
  margin-block: 20px;
  text-align: center;
  max-width: 400px;
  max-height: 150px;
}

.quoteText {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
}

.quoteAuthor {
  font-size: 1rem;
  margin-top: 5px;
  color: #777;
}
.loading {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.1;
}
.loading::before {
  content: "";
  /* background-color: var(--black); */
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.editableTimerBox {
  display: flex;
  color: var(--black);
  line-height: 0;
  align-items: center;
  justify-content: center;
}
.editableTimerBox > input {
  height: auto;
  width: 2ch;
  text-align: center;
  font-size: var(--xlarge-size);
  background-color: transparent;
  border: none;
  font-size: var(--xlarge-size);
  color: var(--color-text);
  font-weight: 400;
  padding: 0;
}
.editableTimerBox > div {
  font-size: var(--xlarge-size);
  color: var(--color-text);
  font-weight: 400;
  line-height: 20px;
}
.editableTimerBox > input:focus {
  outline: none;
  border: none;
}
.buttonTimerGroup {
  display: flex;
  gap: 10px;
}
.buttonTimerGroup > button {
  border-radius: 50%;
  background-color: var(--primary-btn-color);
  width: 60px;
  height: 60px;
  box-shadow: none;
  border: none;
}
.StressStudyAfter {
  width: 450px;
}
.playerContainer {
  float: right;
  display: flex;
  width: calc(100% - 10%);
  background: transparent;
  background-color: transparent;
  justify-content: flex-end;
}
.player {
  background-color: transparent;
  border: none;
  width: 280px;
  height: 160px;

}

@media screen and (max-width: 750px) {
  .stressContainer {
    max-width: 450px;
  }
}
